<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersion</key>
	<string>2.6.3</string>
	<key>navigationBarTitleColor</key>
	<string></string>
	<key>title</key>
	<string>Chat</string>
	<key>tintColor</key>
	<string></string>
	<key>cursorTintColor</key>
	<string></string>
	<key>navigationBarItemTintColor</key>
	<string></string>
	<key>sendTintColor</key>
	<string></string>
	<key>navigationBarTintColor</key>
	<string></string>
	<key>navigationBarColor</key>
	<string></string>
	<key>badgeTextColor</key>
	<string>#FFFFFF</string>
	<key>attachmentActionSheetItemsTextColor</key>
	<string>#4481EB</string>
	<key>attachmentActionSheetCancelButtonTextColor</key>
	<string>#4481EB</string>
	<key>webViewActivityIndicatorColor</key>
	<string>#212121</string>
	<key>webViewCloseImageColor</key>
	<string>#A1A1A1</string>
	<key>createNewThreadImageColor</key>
	<string>#FFFFFF</string>
	<key>videoCallRequestButtonColor</key>
	<string>#BDBDBD</string>
	<key>videoCallRequestButtonHighlightedColor</key>
	<string>#676767</string>
	<key>badgeBackgroundColor</key>
	<string>#F0512A</string>
	<key>threadsListSeparatorColor</key>
	<string>#E7E7E7</string>
	<key>lockedThreadImageTintColor</key>
	<string>#A1A1A1</string>
	<key>threadsListRefreshControlTintColor</key>
	<string>#A1A1A1</string>
	<key>createNewThreadBackgroundColor</key>
	<string>#4481EB</string>
	<key>createNewThreadTappedBackgroundColor</key>
	<string>#3B71CF</string>
	<key>threadsListBackgroundColorSelection</key>
	<string>#D9D9D9</string>
	<key>webViewHeaderBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>webViewBodyBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>threadsListCompanyMessageBackgroundColor</key>
	<string>#99EFEFF0</string>
	<key>threadsListAgentNameTextColor</key>
	<string>#A1A1A1</string>
	<key>threadsListCompanyMessageTitleTextColor</key>
	<string>#212121</string>
	<key>threadsListCompanyMessageSubtitleTextColor</key>
	<string>#212121</string>
	<key>threadsListMessageTextColor</key>
	<string>#000000</string>
	<key>threadsListDateTextColor</key>
	<string>#A1A1A1</string>
	<key>attachmentActionSheetItemsIconColor</key>
	<string>#4481EB</string>
	<key>userMessageTextColor</key>
	<string>#FFFFFF</string>
	<key>userDeletedMessageTextColor</key>
	<string>#1FFFFFFF</string>
	<key>agentMessageTextColor</key>
	<string>#000000</string>
	<key>welcomeMessageTextColor</key>
	<string>#A1A1A1</string>
	<key>agentStructuredMessageTitleColor</key>
	<string>#000000</string>
	<key>agentStructuredMessageSubtitleColor</key>
	<string>#757575</string>
	<key>agentStructuredMessageUrlColor</key>
	<string>#A1A1A1</string>
	<key>agentStructuredMessageItemColor</key>
	<string>#ECF0F6</string>
	<key>agentStructuredMessageItemBackgroundColor</key>
	<string></string>
	<key>agentStructuredMessageItemTappedColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesBackgroundColor</key>
	<string></string>
	<key>fragmentHeaderColor</key>
	<string>#4481EB</string>
	<key>quickRepliesBorderColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTappedBorderColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTextColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTappedTextColor</key>
	<string>#FFFFFF</string>
	<key>quickRepliesTappedBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>systemMessageTextColor</key>
	<string>#000000</string>
	<key>webViewTitleTextColor</key>
	<string>#212121</string>
	<key>userMessageBackgroundColor</key>
	<string>#258CFB</string>
	<key>userDeletedMessageBackgroundColor</key>
	<string>#1F258CFB</string>
	<key>userSelectedMessageBackgroundColor</key>
	<string>#1F258CFB</string>
	<key>agentMessageBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>systemMessageBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>agentStructuredMessageItemTappedBackgroundColor</key>
	<string>#258BFB</string>
	<key>dateTextColor</key>
	<string>#A1A1A1</string>
	<key>closedThreadMessageTextColor</key>
	<string>#A1A1A1</string>
	<key>videoCallRequestedStatusMessageTextColor</key>
	<string>#A1A1A1</string>
	<key>hourTimeTextColor</key>
	<string>#A1A1A1</string>
	<key>agentNameColor</key>
	<string>#A1A1A1</string>
	<key>loadMoreMessagesButtonTextColor</key>
	<string></string>
	<key>inputBarTintColor</key>
	<string></string>
	<key>inputBarBackgroundColor</key>
	<string></string>
	<key>webViewTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>20</integer>
	</dict>
	<key>userDeletedMessageFont</key>
	<dict>
		<key>name</key>
		<string>.SFUI-RegularItalic</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>badgeFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>backToAllChatsFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>threadsListAgentNameFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>threadsListCompanyMessageTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Bold</string>
		<key>size</key>
		<integer>20</integer>
	</dict>
	<key>threadsListCompanyMessageSubtitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Medium</string>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>threadsListMessageFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>threadsListDateFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>messageFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>systemMessageFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>dateFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>closedThreadMessageTextFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>videoCallRequestedStatusMessageTextFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>hourTimeFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentTimeFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentNameFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentStructuredMessageTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>agentStructuredMessageSubTitleFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>agentStructuredMessageUrlFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Medium</string>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>agentStructuredMessageItemFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Medium</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>navigationBarTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>navigationBarItemTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>interactiveNotification</key>
	<true/>
	<key>enableNavBarFragment</key>
	<true/>
	<key>showDefaultCloseButton</key>
	<false/>
	<key>disableNotification</key>
	<false/>
	<key>enableLightStatusBarStyle</key>
	<false/>
	<key>showAgentAvatarImage</key>
	<true/>
	<key>displayAttachmentActionSheetIcons</key>
	<true/>
</dict>
</plist>
