<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersion</key>
	<string>2.1.0</string>
	<key>navigationBarTitleColor</key>
	<string></string>
	<key>title</key>
	<string>Chat</string>
	<key>tintColor</key>
	<string></string>
	<key>cursorTintColor</key>
	<string></string>
	<key>navigationBarItemTintColor</key>
	<string></string>
	<key>sendTintColor</key>
	<string></string>
	<key>navigationBarTintColor</key>
	<string></string>
	<key>navigationBarColor</key>
	<string></string>
	<key>userMessageTextColor</key>
	<string>#FFFFFF</string>
	<key>agentMessageTextColor</key>
	<string>#000000</string>
	<key>agentStructuredMessageTitleColor</key>
	<string>#000000</string>
	<key>agentStructuredMessageSubtitleColor</key>
	<string>#757575</string>
	<key>agentStructuredMessageUrlColor</key>
	<string>#A1A1A1</string>
	<key>agentStructuredMessageItemColor</key>
	<string>#ECF0F6</string>
	<key>agentStructuredMessageItemBackgroundColor</key>
	<string></string>
	<key>agentStructuredMessageItemTappedColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesBackgroundColor</key>
	<string></string>
	<key>quickRepliesBorderColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTappedBorderColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTextColor</key>
	<string>#ECF0F6</string>
	<key>quickRepliesTappedTextColor</key>
	<string>#FFFFFF</string>
	<key>quickRepliesTappedBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>systemMessageTextColor</key>
	<string>#000000</string>
	<key>userMessageBackgroundColor</key>
	<string>#258CFB</string>
	<key>agentMessageBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>systemMessageBackgroundColor</key>
	<string>#ECF0F6</string>
	<key>agentStructuredMessageItemTappedBackgroundColor</key>
	<string>#258BFB</string>
	<key>dateTextColor</key>
	<string>#A1A1A1</string>
	<key>hourTimeTextColor</key>
	<string>#A1A1A1</string>
	<key>agentNameColor</key>
	<string>#A1A1A1</string>
	<key>loadMoreMessagesButtonTextColor</key>
	<string></string>
	<key>inputBarTintColor</key>
	<string></string>
	<key>inputBarBackgroundColor</key>
	<string></string>
	<key>messageFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>systemMessageFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>dateFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>hourTimeFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentTimeFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentNameFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>agentStructuredMessageTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>agentStructuredMessageSubTitleFont</key>
	<dict>
		<key>name</key>
		<string>HelveticaNeue</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>agentStructuredMessageUrlFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Medium</string>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>agentStructuredMessageItemFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Medium</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>navigationBarTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>navigationBarItemTitleFont</key>
	<dict>
		<key>name</key>
		<string>.SFUIText-Semibold</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>interactiveNotification</key>
	<true/>
	<key>disableNotification</key>
	<false/>
	<key>enableLightStatusBarStyle</key>
	<false/>
	<key>showAgentAvatarImage</key>
	<true/>
</dict>
</plist>
